.header{
  font-family: Didot, Georgia, Garamond;
  text-align: center;
}
.header h2 {
    font-size: 80px;
  }

.thumbnail {
    display: block;
    margin: 40px;
    border: 5px solid black;
}

.about {
    text-align: center;
}

}
