.header {
  font-family: Didot, Georgia, Garamond;
  text-align: center;
}

.header h2 {
    font-size: 80px;
  }

.thumbnail {
    display: block;
    margin: 0 auto;
    border: 5px solid black;
}

.about {
  font-family: Didot, Georgia, Garamond;
  text-align: center;
}

.details {
  font-family: Didot, Georgia, Garamond;
}

.details h3 {
  margin-top: 3rem;
}

